/* Custom Stylesheet*/

body {
      padding-top: -60px;
    /*Required padding for .navbar-fixed-top. 
    Remove if using .navbar-static-top. 
    Change if height of navigation changes.*/

    font-family:'Open Sans', Verdana, Helvetica, 'Merriweather', sans-serif;
    background-color: #b0c0cb;
}

#index{
    color: #2b363e;
}

#work-portfolio {
    background-color: white;
    color: #2b363e;
}

#work-portfolio h2, #work-portfolio h3{
  color: #D46700;
  font-size: 3em;
}

#about {
    background-color: white;
    color: #2b363e;
}

/* Navbar */

nav {
  padding: 10px;
  width: 100%;
}

nav a {
    color: #2f4f4f;
}

.footer {
  padding: 12px 0 4px 0;
  text-align: center;
}

.footer h3 {
  font-size: 3em;
}

#linkedin {
  padding-top: 10px;
  padding-bottom: 15px;
}

#face {
  border-radius: 5px;
}

#linked {
  border-radius: 5px;
}

#facebook {
  border-radius: 5px;
}

/* Clearing Element */

.clear {
  clear: both;
}

/* Index */

.indexhead {
  text-align: center;
  color: white;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}
header .name {
  display: block;
  font-family: 'Bree Serif', Georgia, Helvetica, serif;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 5em;
}

header .intro-text {
  font-size: 1.55em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

.intro-brett {
    display: table;
    width: 100%;
    padding: 225px 0;
    text-align: center;
    color: #fff;
    background: url(../images/landscape.jpg) no-repeat bottom center scroll;
    height: 600px;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-work {
    display: table;
    width: 100%;
    padding: 225px 0;
    text-align: center;
    color: #fff;
    background: url(../images/maccoffee.jpg) no-repeat bottom center scroll;
    height: 600px;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-about {
    display: table;
    width: 100%;
    padding: 225px 0;
    text-align: center;
    color: #fff;
    background: url(../images/forest.jpeg) no-repeat bottom center scroll;
    height: 600px;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#indrow {
  padding-top: 40px;
  padding-bottom: 40px
}

#contact {
  background-color: #1693A5;
  color: #b0c0cb;
}

.intro-body {
	width: 100px;
}

/* About */

.marriage1 {
	padding: 40px 0 40px 100px;
}

.marriage1 img {
	padding-left: 100px;
	border-radius: 5px;
}

.adventure {
  text-align: center;
}

.adventure {
    display: table;
    width: 100%;
    padding: 225px 0;
    text-align: center;
    color: #fff;
    background: url(../images/view.jpg) no-repeat bottom center scroll;
    height: 600px;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sports {
  padding: 20px 20px 0 40px;
  background-color: white;
}

.sports img {
  width: 70%;
  padding-left: 40px;
  padding-bottom: 20px;
}

#spr {
  width: 90%;
}

#coladv {
  background-color: rgba(233,233,233,.7);
}

#work {
	text-align: center;
  padding-top: 15px;
}

/* Portfolios */

.col-md-4 {
  padding: 0px;
}

#portfolio {
  background-color: white;
}

.portfolio-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}


