.marriage1 {
	padding: 3px 6px 3px 6px;
}

.marriage1 img {
	padding: 2px 0 0 0;
}



#work p {
	padding-left: 10px;
	padding-right: 10px;
}

/* Masonry */

.grid-item {
  float: left;
  width: 100%;
  height: 300px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  /*margin-bottom: 10px;*/
}

#face {
	float: left;
}

#coladv {
  background-color: rgba(233,233,233,.7);
  width: 300px;
}

.sports img {
  width: 70%;
  padding-left: 40px;
  padding-bottom: 20px;
}

#footer {
	padding-left: 35%;
}



